.Pasuka-enter {
    transform: translate(100%, 0);
    opacity: 0;
}

.Pasuka-enter-active {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 500ms;
}

.Pasuka-exit {
    transform: translate(0, 0);
    opacity: 1;
}

.Pasuka-exit-active {
    transform: translate(-100%, 0);
    opacity: 0;
    transition: all 500ms;
}

.P3Mz {
    display: flex;
}

.PPite174 div {
    width: 35vw;
}

.PDF {
    display: flex;
    align-items: center;
    justify-content: center;
}

.null {
    background: linear-gradient(-45deg, #fffcc5, #91d3ec, #adedde);
    background-size: 300% 300%;
    animation: gradientBG 5s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}