.Dcontent {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Dcontrol {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dcontrol button {
    height: 5em;
    width: 5em;
    margin: 2vw;
    border-radius: 50%;
    font-size: large;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    background-color: darkcyan;
}

.Dcontrol button:hover {
    cursor: pointer
}

#DcontainerChina,#DcontainerYangtze {
    box-sizing: border-box;
    border-radius: 5em;
    overflow: hidden;
}

/* 去掉地图左下logo */
.BMap_cpyCtrl {
    display: none;
}
.anchorBL {
    display: none;
}

.dis-contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.map-dis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}